---
import NavigationCategory from '../components/NavigationCategory.astro';
import Hamburger from '../components/Hamburger.astro';
---

<header class="header">
  <nav>
    <Hamburger />
    <NavigationCategory />
  </nav>
 </header>
