---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.2rem 0.5rem;
    color: black;
    background-color: white;
    text-decoration: none;
  }
  a:hover {
    background-color: #b6d9ff;
  }
</style>
